In [1]:
import os
import codecs
import pandas as pd
import numpy as np
import random
import statistics
from tqdm import tqdm
random.seed(7)

In [2]:
df = pd.read_csv('../data/blogtext_selection.csv')
print(len(set(df['id'].values)))
print(len(df))
df.head()

304
62697

,Unnamed: 0,id,gender,age,topic,sign,date,text
0,573,3176655,male,24,Engineering,Libra,"03,July,2004",If I had a band I'd call it '...
1,574,3176655,male,24,Engineering,Libra,"03,July,2004","Well... I hate to say it, bu..."
2,575,3176655,male,24,Engineering,Libra,"03,July,2004",How do we move on now? How d...
3,576,3176655,male,24,Engineering,Libra,"03,July,2004",Humor is my primary tool for ...
4,577,3176655,male,24,Engineering,Libra,"03,July,2004",Warning: If you know me and a...

In [3]:
def create_dataset(nr_authors, blog_df, lower_percentile=25, upper_percentile=75):
    authors = list(set(df['id'].values))
    random.shuffle(authors)
    for a in tqdm(authors[:nr_authors]):
        blogs = df[df['id'] == a]['text'].values
        lower_p = np.percentile([len(b) for b in blogs], lower_percentile)
        upper_p = np.percentile([len(b) for b in blogs], upper_percentile)
        blogs = [b for b in blogs if lower_p <= len(b) <= upper_p]

        traindir = '../data/' + str(nr_authors) + '/train/' + str(a) + '/'
        testdir = '../data/' + str(nr_authors) + '/test/' + str(a) + '/'
        if not os.path.exists(traindir):
            os.makedirs(traindir)
        if not os.path.exists(testdir):
            os.makedirs(testdir)

        random.shuffle(blogs)
        blogs = blogs[:50]
        for i, b in enumerate(blogs[:40]):
            with codecs.open(traindir + str(i+1) + '.txt','w+','utf-8') as f:
                f.write(b)

        for i, b in enumerate(blogs[40:]):
            with codecs.open(testdir + str(i+1) + '.txt','w+','utf-8') as f:
                f.write(b)

In [4]:
for nr_authors in np.linspace(25,250,10):
    create_dataset(int(nr_authors), df)

100%|█████████████████████████████████████████████████████| 25/25 [00:06<00:00,  3.94it/s]
100%|█████████████████████████████████████████████████████| 50/50 [00:12<00:00,  3.94it/s]
100%|█████████████████████████████████████████████████████| 75/75 [00:21<00:00,  3.49it/s]
100%|███████████████████████████████████████████████████| 100/100 [00:26<00:00,  3.84it/s]
100%|███████████████████████████████████████████████████| 125/125 [00:30<00:00,  4.10it/s]
100%|███████████████████████████████████████████████████| 150/150 [00:37<00:00,  3.97it/s]
100%|███████████████████████████████████████████████████| 175/175 [00:43<00:00,  3.99it/s]
100%|███████████████████████████████████████████████████| 200/200 [00:50<00:00,  3.96it/s]
100%|███████████████████████████████████████████████████| 225/225 [00:58<00:00,  3.86it/s]
100%|███████████████████████████████████████████████████| 250/250 [01:07<00:00,  3.71it/s]

In [10]:
print(np.linspace(25,250,10))

[ 25.  50.  75. 100. 125. 150. 175. 200. 225. 250.]

In [ ]:
print([0]*5)